name: Release Published

on:
  release:
    types:
      - published

jobs:
  publish_release:
    name: Publish Release
    runs-on: ubuntu-18.04
    continue-on-error: false
    env:
      BUILT_PACKAGE_DIR: "./dist"

    steps:
      - uses: actions/checkout@v2

      - name: Prepare Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install Poetry
        run: |
          curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -

      - name: Build Project
        run: |
          poetry build

      - name: Publish to PyPi
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
        run: |
          poetry publish

      - name: Attach to release
        uses: AButler/upload-release-assets@v2.0
        with:
          files: "${{ env.BUILT_PACKAGE_DIR }}/hurocon*.whl;${{ env.BUILT_PACKAGE_DIR }}/hurocon*.tar.gz"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
